<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic VUE</title>
    <link rel="stylesheet" href="index.css" >
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{message}}
        <button v-on:click="reverseMessage">reverse Msg</button>
        //two way
        <input v-model="message">
        <span v-if ="seen" v-bind:title="aMsg">Now you can seen me</span>
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
</body>
<script src="index.js"></script>

</html>